/* Merriweather Sans Light 300 Regular 400 Medium 500 Bold 700 */

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

body{
    width: 100%;
    height: 100%;

    font-family: 'Merriweather Sans', sans-serif;
    font-style: normal;
    font-size: 1.6rem;

    background-color: var(--body-bg-color);
    color: var(--text-color);
}

.container{
    display: grid;
    justify-content: center;

    grid-template-areas: "aside main";
    grid-template-columns: 34.8rem 90rem;
    
    /* original 1.9rem 6rem */
    gap: 1.9rem 3rem;

    margin: 4rem 4rem;
}

aside{
    grid-area: aside;

    display: flex;
    flex-direction: column;

    /* gap garante espaço entre elementos */
    /* só funciona com display flex */
    gap: 3rem;
}

main{
    grid-area: main;

    display: flex;
    flex-direction: column;

    gap: 3rem;
    max-width: 100%;
}

.profile, .links, .tecnologias, .experiencias, .educacao, .meus-projetos, .projeto, .post{
    background-color: var(--bg-cards);
    /* original 2rem */
    border-radius: 1.25rem;
    border-right: rgba(0,0,0,0.4) 3px solid;
    border-bottom: rgba(0,0,0,0.4) 3px solid;
}

.meus-projetos, .projetos, .pasta a, .icones, .icone, .detalhes, .linguagem, .post, .post-info ul{
    display: flex;
    flex-direction: row;
}

.profile, .links, .tecnologias, .experiencias, .educacao, .experiencias ul, .educacao ul,
.projeto, .post-info{
    display: flex;
    flex-direction: column;
}

.tecnologias, .experiencias, .educacao{
    padding: 3rem 2rem;
}

.tecnologias h2, .experiencias h2, .educacao h2{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

/* Profile */

.profile{
    padding: 3.2rem;
    height: 29.2rem;
    align-items: center;
    font-weight: 300;
    font-size: 1.30rem;
}

.profile img{
    width: 12.8rem;
    border-radius: 50%;
    border: var(--bg-techs) 0.2rem solid;
    margin-bottom: 3rem;
}

.profile h1{
    font-weight: 700;
    font-size: 2.3rem;
    /* original 1rem */
    margin-bottom: 0.5rem;
}

/* Links */

.links{
    padding: 3rem 4rem;
    font-size: 1.2rem;
    font-weight: 400;
    /* original 2rem */
    gap: 1.5rem;
}

.links a{
    display: flex;
    align-items: center;
    /* original 2rem */
    gap: 1.5rem;
}

/* Tecnologias */

.tecnologias{
    font-size: 1rem;
    font-weight: 700;
}

.lista-tecnologias-1, .lista-tecnologias-2, .lista-tecnologias-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.elemento-tecnologia{
    background-color: var(--bg-techs);
    color: var(--body-bg-color);
    /* original 1.5 */
    margin: 0.5rem;
    width: 8.6rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
}

/* Experiências e Educação */

.experiencias, .educacao{
    font-size: 1.2rem;
    font-weight: 400;
}

.experiencias ul, .educacao ul{
    padding-left: 3rem;
    /* sem medida original */
    gap: 1.7rem;
}

.experiencias h3, .educacao h3{
    font-size: 1.4rem;
    font-weight: 700;
}

/* Meus projetos */

.meus-projetos{
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.meus-projetos h2{
    font-size: 2rem;
    font-weight: 700;
}

.projetos{
    gap: 3rem;
}

.projetos img{
    width: 2rem;
}

.projeto{
    gap: 2rem;
    width: 46.1rem;
    padding: 3rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.pasta{
    font-size: 1.6rem;
    font-weight: 700;
}

.pasta a{
    gap: 1.6rem;
}

.detalhes{
    align-items: center;
    justify-content: space-between;
}

.icones{
    align-items: center;
    gap: 1.6rem;
}

.icone, .linguagem{
    gap: 0.8rem;
    align-items: center;
}

.circulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    border: var(--text-color) 2px solid;
    
}

.circulo-html{
    background-color: orangered;
}

.circulo-js{
    background-color: yellow;
}

/* Posts */

.post{
    padding: 3rem 0rem 4.2rem 3rem;
    height: 20.1rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.post img{
    height: 12.8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.post h2{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.post li{
    list-style: none;
    padding-right: 1rem;
}

.post-info{
    justify-content: space-between;
}