/*Merriweather Sans Light 300 Regular 400 Medium 500 Bold 700*/

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

body{
    width: 100%;
    height: 100%;

    font-family: 'Merriweather Sans', sans-serif;
    font-style: normal;
    font-size: 1.6rem;

    background-color: var(--body-bg-color);
    color: var(--text-color);
}

.container{
    display: grid;
    justify-content: center;

    grid-template-areas: "aside main";
    grid-template-columns: 34.8rem 95.2rem;
    gap: 1.7rem 3rem;

    margin: 4rem 2rem;
}

aside{
    grid-area: aside;

    display: flex;
    flex-direction: column;

    gap: 3rem;
}

main{
    grid-area: main;

    display: flex;
    flex-direction: column;

    gap: 3rem;
}

.profile, .links, .tecnologias, .experiencias, .educacao, .meus-projetos, .projeto-1, .projeto-2{
    background-color: var(--bg-cards);
    border-radius: 1.25rem;
    border-right: rgba(0,0,0,0.4) 3px solid;
    border-bottom: rgba(0,0,0,0.4) 3px solid;

}

/*Profile*/

.profile{
    
}

.profile img{
    width: 12.8rem;
    border-radius: 50%;
    border: var(--bg-techs) 2px solid;
}
